@layout('layout/app')

@section('body')
    <main class="d-flex flex-column align-items-center justify-content-center full-height">
        <section class="container">
            <div class="col-8 mx-auto rounded shadow-lg text-center p-4 bg-dark">
                <h2>sparks web development intern task</h2>
                <a class="btn btn-lg btn-light text-uppercase" href="/customers">customers</a>
            </div>
        </section>
    </main>
@endsection