@font-face {
  font-family: poppins;
  src: url("/Poppins-Regular.ttf");
}

.bg-semi-light {
  background-color: #f6f7fa;
}
body {
  color: #383a3c;
  background-color: #fff;
  font-family: poppins;
}

.full-height {
  height: 100vh;
}

.selectable-item {
  cursor: pointer;
}
