@layout('layouts.app')

@section('body')
<main
  class="mt-5"
>
  <section class="container">
    <div class="text-center mb-4">
      <img src='/undraw_server_down_s-4-lk.svg' class="w-25 mx-auto" />
    </div>
    <div class="mx-auto text-center p-4">
      <h2 class="text-uppercase my-3">oops 500</h2>
      <p class="lead text-capitalize">{{message}}</p>
      <a class="btn btn-lg btn-info text-uppercase" href="/">home page</a>
    </div>
  </section>
</main>
@endsection